h2 {color:red ;}

.background-image-hero {
    background-image: url(https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:30%;

}
h1 {
    color:blueviolet ;
}